@import '../../shared/colors.scss';

.UserCardStartPage::before{
    transition: 0.3s;
    content: '';
    width: 100%;
    border-radius: 40px;
    height: 100%;
    top: 0;
    position: absolute;
    background: inherit;
    filter: contrast(50%) grayscale(100%) blur(10px);
    -webkit-filter: contrast(50%) grayscale(100%) blur(10px);
    z-index: -1;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.UserCardStartPage {
    position: relative;
    margin: 50px;
    width: 100%;
    height: 350px;
    min-width: 700px;
    max-width: 950px;
    background-color: $Black;
    background-size: cover;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $White;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    &:hover {
        .TextBlock {
            rotate: -15deg;
            .userName {
                font-size: 65px;
            }
            .about {
                opacity: 1;
                transform: translateY(20px);
                -webkit-transform: translateY(20px);
                -moz-transform: translateY(20px);
                -ms-transform: translateY(20px);
                -o-transform: translateY(20px);
            }
        }
        .ImageBlock a {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
}
        .ImageBlock img::before {
            content: '';
            background-color: rgba(0, 0, 0, 0);
        }
        .glitch:after,
        .glitch:before {
            opacity: 1;
        }

        .Effect {
            
            opacity: 0;
            width: 0;
        }
        &:before{
            filter: contrast(80%) grayscale(0) blur(25px);
            -webkit-filter: contrast(80%) grayscale(0) blur(25px);
}
    }
    .TextBlock {
        a{
            user-select: none;
            cursor: pointer;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            position: relative;
            color: $White;
            text-decoration: none;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
}
    }
.Effect{
    z-index: 12;
    border-radius: 40px;
    opacity: 1;
    transition: 0.2s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $Black;
    mix-blend-mode: hue;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.ImageBlock {
    z-index: 10;
    padding: 20px;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    a{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 200px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
     img {
        filter: hue-rotate(0.9turn);
        user-select: none;
        height: 100%;
        border-radius: 200px;
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        -ms-border-radius: 200px;
        -o-border-radius: 200px;
        border: 6px solid $Black;
        object-fit: cover;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-filter: hue-rotate(0.9turn);
}
}


.TextBlockBox{
    z-index: 11;
    padding: 20px;
    height: 100%;
    width: 100%;
    min-width: 475px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: transparent;
}

.TextBlock{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    a{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        .userName{
            font-size: 40px;
        }
        .about{
            position: absolute;
            font-size: 20px;
            opacity: 0;
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
    }
    }
}
}



 @media screen and (max-width:930px) {
    .UserCardStartPage{
        width: 80%;
        min-width: 360px;
        max-width: 800px;
        height: 300px;
        flex-direction: column-reverse;
        &:hover {
            .TextBlockBox{
            .TextBlock {
                rotate: -10deg;
                transform: translateX(10%) translateY(-30%);
                -webkit-transform: translateX(10%) translateY(-30%);
                -moz-transform: translateX(10%) translateY(-30%);
                -ms-transform: translateX(10%) translateY(-30%);
                -o-transform: translateX(10%) translateY(-30%);
                .userName {
                    font-size: 35px;
                }
                .about {
                    font-size: 14px;
                }
            }
        }
            .ImageBlock{
                a{
                    width: 180px;
                    height: 180px;
                    transform: translateX(-45%) translateY(5px);
                    -webkit-transform: translateX(-45%) translateY(5px);
                    -moz-transform: translateX(-45%) translateY(5px);
                    -ms-transform: translateX(-45%) translateY(5px);
                    -o-transform: translateX(-45%) translateY(5px);
}
            }
    }
    .ImageBlock {
        height: 400px;
        max-width: 100%;
        padding: 0;
        a{
            width: 140px;
            transform: translateY(15px);
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -ms-transform: translateY(15px);
            -o-transform: translateY(15px);
        }
    }


    .TextBlockBox{
        height: 70px;
        min-width: 300px;
        padding: 0;
        .TextBlock{
            transform: translateY(-20px);
            -webkit-transform: translateY(-20px);
            -moz-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            -o-transform: translateY(-20px);
            .userName{
                font-size: 25px;
            }
        }
    }
    }
}