@import './main.scss';
@import '../shared/colors.scss';
@import '../shared/glitch.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: transparent;
};



html, body {
    max-width: 100vw;
    min-width: 350px;
    height: 100%;
    background: $Black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center
};

body{
    width: 100%;
    background-color: transparent;
}

@media screen and (max-width:930px) {
    body{
        width: 95%;
    }
}