@import '../../shared/colors.scss';

@font-face {
    font-family: "ZenKaku";
    src: url('../../app/fonts/ZenKakuGothicAntique-Bold.ttf');
}

.MyStack{
    font-family: 'ZenKaku';
    border: 2px solid #eee;
    margin: 20px 0;
    padding: 10px 10px;
    width: 100%;
    max-width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    overflow: hidden;
    .Marquee{
        width: 90%;
        height: 90px;
    }
    h3{
        width: 90%;
        font-size: 1.5rem;
        color: $White;
    }
}